<div class="topbar container d-flex align-items-center justify-content-between">
    <button type="button" class="hamburger hamburger--collapse hidden-md-up" id="menuButton">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <a href="{% url 'posts_list' %}" class="brand-link"><h1 class="topbar-title">WellDone</h1></a>
    <a href="javascript:void(0)" class="search-button-link hidden-md-up"><span class="icon search_black_24"></span></a>
    <a href="javascript:void(0)" class="btn btn-primary hidden-sm-down">Comenzar</a>
</div>

<nav class="navbar navbar-toggleable-sm">
    <div class="container d-flex justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">Política</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Economía</a></li>
            <li class="nav-item"><a href="#" class="nav-link active">Sociedad</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Deporte</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Cultura</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ciencia</a></li>
        </ul>
        <a href="javascript:void(0)" class="search-button-link hidden-sm-down"><span class="icon search_black_24"></span></a>
    </div>
</nav>
