// Colors
// ==================================================
$black: #444444 !default;
$gray: #999999 !default;
$grey: #EEEEEE !default;
$smoke: #F6F7F8 !default;
$white: #FBFBFF !default;

$primary: #03A9F4 !default;
$error: #E51C23 !default;
$success: #00C853 !default;
$warning: #FF9800 !default;

// Responsive breakpoints
// ==================================================
$md-min-width: 768px !default;
$lg-min-width: 992px !default;
$xl-min-width: 1200px !default;

// Header sizes
// ==================================================
$header-s: 50px !default;
$header-m: 60px !default;
$header-l: 70px !default;

// Paths
// ==================================================
$font-path: "../fonts/" !default;
