{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WellDone - Donde a la gente le importa lo que tienes que decir{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Prompt">
    <link rel="stylesheet" href="{% static 'dist/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/main.min.css' %}">
</head>

<body>

    <header class="app-header">
        {% include 'includes/header.html' %}
    </header>

    <main class="app-content">
        {% block body %}{% endblock %}
    </main>

    <footer class="app-footer">
        {% include 'includes/footer.html' %}
    </footer>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- jQuery local fallback -->
    <script>window.jQuery || document.write('<script src="{% static 'dist/js/vendor/jquery-3.2.1.min.js' %}"><\/script>')</script>
    <!-- Tether CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <!-- Tether local fallback -->
    <script>window.Tether || document.write('<script src="{% static 'dist/js/vendor/tether-1.0.4.min.js' %}"><\/script>')</script>
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS local fallback -->
    <script>jQuery.fn.modal || document.write('<script src="{% static 'dist/js/vendor/bootstrap-4.0.0-alpha.6.min.js' %}"><\/script>')</script>
    <script src="{% static 'dist/js/bundle.min.js' %}"></script>
</body>
</html>
